%h1 Messages 

%div(ng-app='messagesApp' ng-controller='MessageListController')
  .ng-cloak(ng-init="init()")
    %table.messages
      %thead
        %tr
          %td Title
          %td Body
          %td Rescended?
      %tbody
        %tr(ng-repeat='message in messages')
          %td
            {{ message.title }}
          %td
            {{ message.body }}
          %td
            {{ "" + message.rescended | uppercase }}
    %br
    %form#new_message(ng-submit="createMessage(messageTitle, messageBody)")
      .input-group
        %input.messageTitle.form-control.input-lg( name="messageTitle" type="text" autofocus="autofocus" placeholder="Message title" maxlength="255" ng-model="messageTitle" data-non-blank )
      .input-group
        %textarea.messageBody.form-control.input-lg( name="messageBody" cols="80" rows="5" placeholder="Message body" maxlength="3500" ng-model="messageBody" data-non-blank )
      .input-group
        %span.input-group-btn
          %button.btn.btn-primary.btn-lg(type="submit") create
