%h1 Messages 

%div(ng-app='messagesApp' ng-controller='MessageListController')
  .ng-cloak(ng-init="init()")
    %table.messages.table.table-bordered.table-condensed.table-hover
      %thead
        %tr
          %th MessageId
          %th Title
          %th Body
          %th Rescended?
          %th
      %tbody.table-striped
        %tr(ng-repeat='message in messages' title='To Play: call twilio number and press {{ message.id }}# when prompted.')
          %td
            {{ message.id }}
          %td.span-2
            {{ message.title }}
          %td.span-3
            {{ message.body }}
          %td
            {{ "" + message.rescended | uppercase }}
          %td
            %button.btn(ng-if="!message.rescended" ng-click="rescendMessage(message)")
              rescend

    %br
    %form.form-horizontal#new_message(ng-submit="createMessage(messageTitle, messageBody)")
      .form-group
        %input.messageTitle.form-control.input-lg( name="messageTitle" type="text" autofocus="autofocus" placeholder="Message title" maxlength="255" ng-model="messageTitle" data-non-blank )
      .form-group
        %textarea.messageBody.form-control.input-lg( name="messageBody" cols="80" rows="5" placeholder="Message body" maxlength="3500" ng-model="messageBody" data-non-blank )
      .form-group
        %span.input-group-btn
          %button.btn.btn-primary.btn-lg(type="submit") create
