%h1 Messages 

%div(ng-app='messagesApp' ng-controller='MessageListController')
  .ng-cloak(ng-init="init()")
    %table.messages
      %tr(ng-repeat='message in messages')
        %td
          {{ message.title }}
        %td
          {{ message.body }}
